*{
    box-sizing: border-box;
    margin: 0;
    
}
body{
    background-image: url(./markus-spiske-k0rVudBoB4c-unsplash.jpg);
    background-size: 100vw 100vh;
}

.login ,.signup {
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border: 2px solid black;
   margin-top: 70px;
   width: 450px;
   height: 600px;
   padding-left: 90px;
   padding-top: 100px;
   line-height: 30px;
   border-radius: 35px;
   color: green;
   background-color: antiquewhite;
   
}
label {
    font-weight: 900;
}

.text{
    padding: 10px 30px;
    font-size: 12pt;
    border-radius: 15px;
    border-color: black;
}
button{
    margin-top: 25px;
    width: 120px;
    height: 35px;
    margin-left: 18%;
    background-color: blue;
    border-radius: 18px;
    color: white;
}
button:hover{
    background-color: greenyellow ;
    color: black;
}
.signup{
    display: none;
   
}
.logo{
   display: flex;
    height: 110px;
    justify-content: center;
    padding-top:15px;
    padding-bottom:10px ;
  
    
}
.name{
    text-align: center;
    color: white;
    font-size: 45px;
    
}
@media(max-width:992px){
    .logo{
        padding-top: 10px;
        padding-bottom: 35px;
        height:150px;
    }
    .login, .signup{
        width: 450px;
        height: 550px;
        padding-top: 35px;
        font-size: 25px;
        line-height: 39px;
    }
    .name{
        font-size: 35px;
    }
}
@media(max-width:768px){
    .logo{
        padding-top: 10px;
        padding-bottom: 35px;
        height:150px;
    }
    .login, .signup{
        width: 450px;
        font-size:25px;
        line-height: 45px;
    }
}
@media(max-width:572px){
    .logo{
        height: 130px;
        padding-top: 5px;
        padding-bottom: 35px;
    }
    .login, .signup{
     
        width: 300px;
        height: 600px;
        font-size:20px;
        line-height: 45px;
      
        padding-left: 25px;
        padding-right: 25px;
        
    }
}
@media(max-width:400px){
    .logo{
        height: 130px;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .login, .signup{
     
        width: 300px;
        height: 480px;
        font-size:15px;
        line-height:30px;
        
        padding-left: 25px;
        padding-right: 25px;
        
    }
    .name{
        font-size: 30px;
    }
}

